.ant-card-bordered{
    border-radius: 10px 10px 10px 10px !important;
    border-color: transparent !important;
    background-color: rgba(0, 0, 0, 0.651) !important;
}

.ant-card-meta-description{
    color: rgba(177, 177, 177, 0.904) !important;
}
.ant-card-meta-title{
    color: #fff !important;
}
.proyect-list{
    &-card{
        width: 340px;
        height: 400px;
        border: 0;
       margin-top: 30px !important;

        .ant-card-bordered{
            border: none;
        }

        @media(max-width: 600px){
            width: 400px !important;
            height: 100px !important;
        }
       

        @media(max-width: 1100px){
            width: 650px;
            height: 600px !important;
        }

    }
}